html{
    height: 100%;
    width: 100%;
    margin: auto;
}


body{

    background-color:white ;
    text-align: center;
}
 .pic{
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 40%;
height: 40%;
margin: 0 auto;
overflow: hidden;
}
  .pic img{
    width: 40%;
    height: 40%;
    object-fit: cover;
  }

.header-main{
    width: 100%;
    height: 90%;
    background-color: #46b7c1;
    display: flex;
    justify-content: space-between;
    

}
nav{
    float: right;
    padding: 25px 0px;
    font-family: Arial;
}
nav a{
color: red;
text-decoration: none;
font-size: 18px;
padding: 2px 10px;
}
.about div{
    width: 45%;
    line-height: 30px;
    font-size: 18px;
}

.about{
display: block;
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;
}

.about p{
    font-size: 1.125rem;
line-height: 1.6;
padding: 10px;
width: auto;
margin:auto;
}
 .about ol,
 .skills ol,
 .interests ol{
    list-style: none;
    padding: 0;
 }
  
 .about il,
 .skills ul,
 .interests ul{
    list-style: none;
    padding: 0;
 }


.skills{
    display: block;
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;

}
.skills div{
    width: 45%;
    line-height: 30px;
    font-size: 18px;
}

 .projects
 

 .projects div{
    width: 45%;
    line-height: 30px;
    font-size: 18px;
 }
 .achievements{
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;
 }

 .achievements div{
    width: 45%;
    line-height: 30px;
    font-size: 18px;
 }
 .interests{
    font-size: 200%;
    width: 200%;
    height:auto;
    text-align: justify;
 }
    .interests ol{
        font-size:200%;

    }
 
 .interests div{
    width: 45%;
    line-height: 30px;
    font-size: 18px;

 }
.container{
    text-align: center;
    margin-top: 50px;
}
#social{
    color: pink;
}

.width-33{
    display: inline-block;
    color: yellowgreen;
    box-sizing: 33.33%;
    padding: 10px;
    text-align: center;
}




 /*footer*/
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .footer{
    background-color: #46b7c1;
    padding: 40px 2px;
    width: 100%;
    float: left;
  }
 /*footer end */