body{

    background-color:white ;
}
 .pic{
 width: 50%;
 height: auto;
 align-content: center;

  }
  

.header-main{
    width: 100%;
    height: 90%;
    background-color: #46b7c1;
    display: flex;
    justify-content: space-between;
    

}
nav{
    float: right;
    padding: 25px 0px;
    font-family: Arial;
}
nav a{
color: red;
text-decoration: none;
font-size: 18px;
padding: 2px 10px;
}

.about{
display: block;
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;
}
 
.skills{
    display: block;
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;

}
 .projects{
    display: flex;
    font-size: 120;
    width: 200%
    height: auto;
    text-align: justify;

 }
 .achievements{
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;
 }

 .interest{
    font-size: 120%;
    width: 200%;
    height: auto;
    text-align: justify;
 }
.container{
    text-align: center;
    margin-top: 50px;
}
#social{
    color: pink;
}




 /*footer*/
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .footer{
    background-color: #46b7c1;
    padding: 40px 2px;
    width: 100%;
    float: left;
  }
 /*footer end */